<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/insertprod" method="post">
        Product id: <input type="text" name="pid" id="pid"
        placehoder="Enter pid"><br>
        Product name: <input type="text" name="pname" id="pname"
        placehoder="Enter pname"><br>
        Product qty: <input type="text" name="qty" id="qty"
        placehoder="Enter qty"><br>
        Product price: <input type="text" name="price" id="price"
        placehoder="Enter price"><br>
        <button type="submit" name="btn" id="btn" value="btn">Add new Product</button>
    </form>
</body>
</html>